@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
            integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
            crossorigin="anonymous"
            defer></script>
    <script src="~/js/site.js" type="module" id="s" ></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <title>@ViewData["Title"] - AzureWebpage</title>
</head>
<body style="height:100%">
    <div class="container-fluid h-100">
        <div class="row min-vh-100">
            <div class="col-sm bg-dark d-flex flex-column">
                <a name="translatable" id="#outventory">#outventory</a>
                <div class="row ms-4 mt-4 flex-grow-1 flex-column" id="inventoryView">
                </div>
                <a name="translatable" id="#stats">#stats</a>
                <div class="row ms-4 flex-grow-1 flex-column" id="statView">
                </div>
            </div>
            <div class="col-sm bg-black text-center justify-content-center">
                <a id="#mainInfo" name="translatable"></a><a id="#additionalInfo" name="translatable"></a>
                <canvas id="gl-canvas" width="640" height="490" style="width:100%"></canvas>
                <div class="container-fluid">
                    <div class="row text-center" id="fightInfoDiv" hidden>
                        <nobr><a id="#fightInfo" name="translatable"></a> <a id="fightInfo"></a></nobr>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm">
                            <a id="#health" name="translatable">#health</a> <a id="health"></a>/<a id="maxHealth"></a>
                            <div id="enemyHealthDiv" hidden>
                                <a id="#enemy_health" name="translatable"></a> <a id="enemyHealth"></a>/<a id="maxEnemyHealth"></a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a id="#exp" name="translatable">#exp</a> <a id="exp"></a>/<a id="maxExp"></a>
                        </div>
                    </div>
                    
                </div>
                <div class="d-sm-flex justify-content-center">
                    <div class="btn-group-vertical" role="group" id="controls" style="width:33%">
                        <div class="btn-group">
                            <button class="btn btn-dark btn-lg" disabled style="width:33%"></button>
                            <button class="btn btn-dark btn-lg" id="Up" style="width:33%"><img src="~/images/right-arrow.svg" class="img-fluid ro" alt="Responsive image" style="transform:rotate(270deg);"></button>
                            <button class="btn btn-dark btn-lg" disabled style="width:33%"></button>
                        </div>
                        
                        <div class="btn-group">
                            <button class="btn btn-dark btn-lg" id="Left" style="width:33%"><img src="~/images/right-arrow.svg" class="img-fluid ro" alt="Responsive image" style="transform:rotate(180deg);"></button>
                            <button class="btn btn-dark btn-lg" id="Interact" style="width:33%"><img src="~/images/bullseye.svg" class="img-fluid ro" alt="Responsive image"></button>
                            <button class="btn btn-dark btn-lg" id="Right" style="width:33%"><img src="~/images/right-arrow.svg" class="img-fluid" alt="Responsive image"></button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-dark btn-lg" disabled style="width:33%"></button>
                            <button class="btn btn-dark btn-lg" id="Down" style="width:33%"><img src="~/images/right-arrow.svg" class="img-fluid ro" alt="Responsive image" style="transform:rotate(90deg);"></button>
                            <button class="btn btn-dark btn-lg" disabled style="width:33%"></button>
                        </div>
                    </div>
                    <div class="btn-group" role="group" id="fightControls" hidden>
                        <button class="btn btn-dark btn-lg" id="#attack" name="translatable"></button>
                        <button class="btn btn-dark btn-lg" id="#defend" name="translatable"></button>
                        <button class="btn btn-dark btn-lg" id="#run" name="translatable"></button>
                    </div>
                </div>
                
            </div>
            <div class="col-sm bg-dark">
                <button class="btn-light" id="plBTN">Polish</button>
                <button class="btn-light" id="enBTN">English</button>
                <button class="btn-light" id="frBTN">French</button>
            </div>
        </div>
        
    </div>
    
</body>

