@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <title>@ViewData["Title"] - AzureWebpage</title>
</head>
<body>
    <div class="additionalText">
        Mówi się, że Sun Wukong, zwany Małpim Królem, Wielkim Mędrcem Dorównujęcym niebiosom osiągnął 9 nieśmiertelności
    </div>
    <div class="container">
        <div class="item">
            nieśmiertelność pierwsza
        </div>
        <div class="item">
            Nauczył się od Puti Zushi zaklęć na nieśmiertelność
        </div>
        <div class="item">
            nieśmiertelność druga
        </div>
        <div class="item">
            Wypisał się z księgi śmiertelnych
        </div>
        <div class="item">
            nieśmiertelność trzecia
        </div>
        <div class="item">
            Zjdał Brzoskwinie niesmiertelności
        </div>
        <div class="item">
            nieśmiertelność czwarta
        </div>
        <div class="item">
            Wypił niebiańskie wino
        </div>
        <div class="item">
            nieśmiertelność piąta
        </div>
        <div class="item">
            Zażył pastylki żywotności
        </div>
        <div class="item">
            nieśmiertelność szósta
        </div>
        <div class="item">
            Gotował się w piecu przez 49 dni
        </div>
        <div class="item">
            nieśmiertelność siódma
        </div>
        <div class="item">
            Zjadł pigułkę nieśmiertelności
        </div>
        <div class="item">
            nieśmiertelność ósma
        </div>
        <div class="item">
            Spożył owoc Ginseng
        </div>
        <div class="item">
            nieśmiertelność dziewiąta
        </div>
        <div class="item">
            Jadł buddyjskie odpowiedniki niebiańskich potraw nieśmiertelności
        </div>
    </div>
</body>

